<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../stylesheets/main.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Jessica Chadwick</title>
</head>
<body>
<div id='about-background'></div>
    <nav class='mobile-nav'>
        <div id='expand-button'>
            <div id='hamburger'>
                <span class='mobile-nav'></span>
                <span class='mobile-nav'></span>
                <span class='mobile-nav'></span>
                <span class='mobile-nav'></span>
            </div>
        </div>
        <ul class='mobile-nav'>
            <li><a href='#'>Home</a></li>
            <li><a href='#'>Contact</a></li>
            <li><a href='#'>About Me</a></li>
        </ul>
        <ul class="nav-right mobile-nav">
            <li><a href='#'><i class="fa fa-facebook-square"></i></a></li>
            <li><a href='#'><i class="fa fa-instagram"></i></a></li>
        </ul>
    </nav>
    <div id='aboutMe'>
        <div>
            <img id='jessica' src='../assets/images/jessica.jpeg'>
            <h1>ABOUT ME</h1>
            <p>Hi beauties! My name is Jessica. Allow me to tell you a little bit about myself. I have always had a passion
                for make up and art of all sorts. Now that I'm older, I am more invested in taking care of my skin than ever
                before. I am continually learning about make up and skincare, and I want to help others in the same way.
            </p>
            <p>Back in high school, I struggled with stubborn under-the-skin acne which isn't easy to cover up when it's more
                than surface deep. A little after high school is when I was properly shown how to cleanse and care for my skin
                and that's when I started to notice a difference.
            </p>
            <p>Why Mary Kay? I used it years ago and it improved my skin tremendously back when I wasn't as invested in my skin
                at the time. More recently, I love the culture and products, and decided I wanted to join that same enviornment.
                I'm learning how to turn my passion and love of art into my life's work. I will continue to educate myself in
                the world of skincare and makeup and hope to assist you as well no matter what.
            </p>
        </div>
    </div>
<script src='../scripts/javascript.js'></script>
</body>
</html>